// Specific CSS for your home-page
body {
  background-color: white;
}

.margin-top-negative {
  margin-top: -75px;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-style-italic {
  font-style: italic;
}
