// Specific CSS for your home-page
body {
  background-color: white;
}

body, h1, h2, h3, h4, p {
  font-family: "Segoe UI", Roboto;
}

.margin-top-negative {
  margin-top: -75px;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-style-italic {
  font-style: italic;
}

.padded {
  padding: 100px 0;
}

.wrapper-grey {
  background: #F4F4F4;
}

.bottom-margin {
  margin-bottom: 15px;
}

.features img {
  width: 100px;
}
