<div class="container">
  <h1 class="my-3 font-weight-bolder text-info">New Flat</h1>
  <%= render "form", restaurant: @flat %>
  <%= link_to 'Cancel', flats_path, :class => "btn btn-danger"  %>
</div>
