<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h1 class="my-3 font-weight-bolder text-info">New Flat</h1>
      <%= render "form", flat: @flat %>
    </div>
  </div>
</div>
