<div class="footer d-flex align-items-center justify-content-center">
  <p class="flex-grow-1 m-0">This is a Airbnb Challenge @ LeWagon</p>
  <div class="d-md-flex">
    <p class="mx-2 my-0"><i class="fab fa-facebook-square fa-2x"></i></p>
    <p class="mx-2 my-0"><i class="fab fa-twitter-square fa-2x"></i></p>
    <p class="mx-2 my-0"><i class="fab fa-pinterest-square fa-2x"></i></p>
    <p class="mx-2 my-0"><i class="fas fa-envelope-square fa-2x"></i></p>
  </div>
</div>
