.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 12px;
  flex-grow: 1;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
