#map {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibmFkaWFzYWxtZW4iLCJhIjoiY2thaGM4ZTh3MDFiYTJxbXQ2MGkyZXB1ayJ9.zNtLVh4T9CIIQUF4CJX-3g");
}
